*{
    margin: 0;
    padding: 0;
    color: white;
}

header {
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.name {
    padding-top: 20px;
    margin: 10px;
    text-decoration: underline;
}


body {
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    
}


body h1 {
    font-family: monospace ;
    text-align: center;
}

/* typing animation */
.name {
    height: auto;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
}
  
  .h1 {
    width: 45ch;
    animation: typing 2.5s steps(50), blink .1s step-end alternate ;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid;
    font-family: monospace;
    font-size: 1em;
}
  
  @keyframes typing {
    from {
      width: 0
    }
    to {width: 20%}
  }
      
  @keyframes blink {
    80% {
      border-color: transparent
    }
}


/* other accounts */
ul {
    margin: auto;
    height: auto;
    width: 45vw;
    color: black;
}

ul li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li a{
    text-decoration: none;
    padding: 15px;
    color: rgb(255, 255, 255);
}

ul li a:hover{
    text-decoration:underline;
    text-underline-offset: 10px;
    text-underline-position: below;
    text-shadow: rgb(255, 255, 255);
}

/* About */
.about h2{
    text-align: center;
    font-family: Garamond;
}

.about p{
    padding: 10px;
    font-family: monospace;
    font-size: larger;
    font-weight:500;
}


.projects{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    align-items: center;
}

.projects>a{
    color: blueviolet;
    font-weight:700;
    text-decoration: underline;
    font-size:medium;
    margin: 3px;
}

/* .projects>h3{
    /* text-align: left; 

} */

.projects>a:hover{
    color: white;
}