

body {
    
    /* background-color: rgb(255, 255, 255); */
    color: #000000;
    font-family: 'Ubuntu Mono', monospace;
    font-size:medium;
    font-weight: semi-bold;

    
}

.main{
    display: flex;
    flex-direction: row-reverse;
    margin: 20vh 5vw;
    padding: 20px;
}

#links{
    display: flex;
    font-weight: 600;
    flex-direction: column;
    font-family: 'Ubuntu Mono', monospace;
    font-size: large;

}

a, .main-content > a {

    font-family: monospace;
    /* font-size: medium; */
    color: #01796f;
    font-weight: 600;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.main-content-top{
    padding: 0vh 7vw;
    color: black;

}

ul{
    padding: 0px 10px;
    margin-top: 0;
}

.main-content{
    display: flex;
    font-size: larger;
    flex-direction: column;
    align-items: left;
    /* padding: 10px; */
    margin: 0vh 10vw;
}

.main-content-top > img{
    border-radius: 12%;

}


/* For Desktop View */
@media screen and (max-width: 900px) {


    .main{
        display: flex;
        flex-direction: column;
        margin: 0vh 0vw;
        /* font-weight: 600; */

    }

    .main-content-top{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .main-content-top > img{
        border-radius: 12%;
        max-height: 175px;
        max-width: 175px;
    }

    .main-content{
        font-size: large;
        margin: auto;
        padding: 10px;
        /* width: 50%; */
    }

    #links{
        display: flex;
        flex-direction: row;
        /* padding: 10px;     */
    }

    #links > a{
        padding: 3px;
    }

    ul {
        margin-top: 0;
        padding: 0px 20px;
    }
} 